.miss-out-container{
    background:url(https://ciseco-nextjs.vercel.app/_next/static/media/BackgroundLine.fbaf1dad.svg) no-repeat center;
    background-size: cover;
    background-color: beige;
    border-radius:20px ;
    min-height: 100vh;

}